@font-face {
    font-family: Bebas-Neue;
    src: url(../assets/fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: opensans;
    src: url(landing-page\assets\fonts\OpenSans-Italic-VariableFont_wdth,wght.ttf);
}

/* reset de margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* DESKTOP FIRST */

/* classes genéricas */
/* margem de 10% 5% de cada lado */
.layout-grid {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;

}

body {
    background-color: #020324;
}

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.align-box-between {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    padding-top: 35px;
}


/* alinhamento a direita da box dos links */

header .header-flex {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}

/* Header / cabeçalho */
header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #F9003D;
    align-items: center;
    justify-content: flex-end;
}

header nav {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

header nav a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration-line: none;
    font-family: "Bebas-Neue";
    letter-spacing: 2px;
    text-shadow: 2px 5px 10px black;
    padding: 15px 20px;
    border-radius: 5px;

}

/* Adiciona sombra aos links ao passar o mouse */
header nav a:hover {
    text-shadow: 2px 5px 10px black;
    background-color: rgb(122, 121, 121);

}

/* oculta o logo sanduiche da pagina desktop */
header #menu-mobile {
    display: none;
}




/* ARTICLE Desenvolvimento de sistemas */
.banner {
    background-image: url(../assets/images/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#h1main {
    font-family: "Bebas-Neue";
    color: white;
    font-size: 96px;
    border-bottom: 1px solid #FFAF00;
    margin-top: 25px;
    margin-bottom: 25px;

}

#h2main {
    font-size: 53px;
    color: #F9003D;
    font-family: 'Courier New';
    text-transform: uppercase;

}


/* Margin do ícone mouse amarelo */
#mouse-yellow {
    margin-top: 35px;
    margin-bottom: 35px;
}




/* SECTION Sobre Projetos */

.h1section {
    font-family: "Bebas-Neue";
    color: #F9003D;
    font-size: 64px;
    margin-top: 64px;
    margin-bottom: 64px;
}


section .modelh3 {
    font-family: 'Courier New';
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 18px;
}

section .modelh4 {
    font-family: "Bebas-Neue";
    font-size: 64px;
    color: #FFAF00;
    margin-bottom: 18px;
}

section .paragrafo {
    font-family: "opensans";
    font-size: 18px;
    color: white;
    width: 592px;
}

.box2 {
    display: flex;
    flex-direction: column;
}

.modelh3 {
    font-family: 'Courier New';
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 18px;
}





/* INFORMAÇÕES */

.modelparagrafo {
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    color: #A259F7;
    border: 1px solid #A259F7;
    height: 100px;
    width: 289px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-informacoes {
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
    padding-bottom: 35px;

}

.bannerinfo {
    background-image: url(../assets/images/imagem-fundo-info.png);
    background-size: cover;
}

/* FOOTER RODAPÉ */

.address {
    font-family: 'Courier New';
    font-size: 24px;
    color: #A259F7;
    border: 1px solid #A259F7;
    width: 899px;
    height: 204px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 150px;
    padding-left: 66px;
    position: relative;
}

#marginpadding {
    padding-top: 80px;
}

#map {
    position: relative;
    bottom: 275px;
    left: 725px;
}

#map:hover {
    box-shadow: 10px 10px 50px black;
}

#bannerfooter {
    background-image: url(../assets/images/imagem-fundo-endereco.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.copyright {
    font-family: "opensans";
    font-size: 18px;
    color: white;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9003D;

}




/***** MEDIA QUERIES *****/

/* tablets >= 768px até 991px*/
@media screen and (max-width: 991px) {}

/* smartphones >= 0 até 767px */
@media screen and (max-width: 767px) {

    /* CLASSES GENÉRICAS */

    .layout-grid {
        max-width: 355px;
    }


    /* HEADER */

    header #menu-mobile {
        display: block;
    }

    header {
        position: fixed;
    }

    header nav {
        z-index: 5;
        position:fixed;
        top: 59px;
        left: -80vw;
        height: calc(100% - 60px);
        width: 80%;
        background-color: #F9003D;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        opacity: 0;
        transition: left 0.7s, opacity 1.5s;

    }


    /* MAIN ARTICLE DESENVOLVIMENTOS DE SISTEMAS */


    .mostrarmenu {
        left: 0;
        opacity: 1;

    }


    main .flex #h1main {
        font-size: 40px;
        border-bottom: none;
        margin-top: 83px;

    }

    main .flex #h2main {
        font-size: 53px;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 200px;

    }

    #mouse-yellow {
        display: none;
    }

    /* MAIN SECTION SOBRE PROJETOS */

    main section div .h1section {
        font-size: 35px;
        margin-bottom: 50px;
    }

    .img-section-sobre {
        max-width: 355px;
    }

    .align-box-between {
        flex-direction: column;
    }

    main section div div article .modelh4 {
        font-size: 30px;
    }

    main section div div article .modelh3 {
        position: relative;
        bottom: 420px;
        z-index: -1;
    }

    main .paragrafo {
        max-width: 355px;
    }


    /* INFORMAÇÕES */

    section .box-informacoes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    section div article .modelh3 {
        padding-top: 35px;
    }
    
    #marginpadding {
        padding-top: 40px;
    }

    /* FOOTER */
    footer section .modelh4 {
        font-size: 40px;
    }

    .address {
        position: static;
        background-color: black;
        max-width: 355px;
        margin-left: 0px;
        padding-left: 0px;
        border-bottom: none;
    }

    footer section div {
        display: flex;
        flex-direction: column;
    }

    #map {
        position: static;
        padding: 15px;
        padding-top: 0px;
        border: 1px solid #A259F7;
        background-color: black;
        border-top: none;
    }


    .copyright {
        margin-top: 43px;
        font-size: 15px;
        height: 65px;

    }