@font-face {
    font-family: BebasNeue ;
    src: url(../assets/fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: opensans ;
    src: url(../assets/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: ABeeZee ;
    src: url(../assets/fonts/ABeeZee-Regular.ttf);
}



/* RESET MARGIN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/* margem de 10% 5% de cada lado */
.layout-grid {
    width: 100%;
    max-width: 373px;
    margin: 0 auto;
    /* border: 1px solid greenyellow; */
}



/* COR DE FUNDO GERAL */
#background-color{
    background-color: #080324;
}



/* HEADER CABEÇALHO */

.header{
    background-color: #F9003D;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
}



/* ARTICLE DESENVOLVIMENTO DE SISTEMAS */

.h1 {
    font-family: BebasNeue;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

#margin-h1{
    padding-top: 83px;
}

.h2{
    font-family: ABeeZee;
    font-size: 53px;
    color: #F9003D;
    text-transform: uppercase;

}
#margin-h2{
    padding-top: 47px;
    padding-bottom: 200px;
}

.bannerdev{
    background-image: url(../assets/images/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}



/* SECTION SOBRE PROJETOS */

.h3{
    font-size: 35px;
    font-family: BebasNeue ;
    color: #F9003D;
    text-transform: uppercase;
}

#margin-h3{
    padding-top: 43px;
}

.h4{
    font-size: 24px;
    font-family: 'Courier New';
    text-transform: uppercase;
    color: white;
}

#margin-h4{
    padding-top: 63px ;
    padding-bottom: 10px ;
}

#img-sobre{
    width: 370px;
}

.h5{
    font-family: BebasNeue ;
    font-size: 30px;
    color: #FFAF00;
    text-transform: uppercase;
}

#margin-h5{
    padding-top: 37px ;
    padding-bottom: 24px ;
}

.paragrafo{
    font-family: opensans ;
    font-size: 18px;
    color: white;
}

#margin-paragrafo{
    padding-bottom: 43px ;
}


/* INFORMAÇÕES */

.box-purple {
    font-family: 'Courier New';
    font-size: 28px;
    border: 1px solid #A259F7;
    text-transform: uppercase;
    color: #A259F7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 33px;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: bold;
    margin-bottom: 84px;
}

#margin-h4-2{
    margin-left: 25px;
    padding-top: 33px;
    margin-bottom: 10px;
}



/* FOOTER RODAPE */

#banner-address{
    background-image: url(../assets/images/imagem-fundo-info.png);
    padding-top: 15px;
}

#margin-h4-3{
    padding-top: 78px;
}

#address{
    padding-bottom: 15px;
    font-family: ABeeZee ;
    font-size: 24px;
    color: #A259F7;
}

#border-box-address{
    margin-top: 17px;
   border: 1px solid #A259F7;
    background-color: black;
}

#padding-map{
    padding:30px;
}

#copyright{
    margin-top: 43px;
    background-color: #F9003D;
    color: white;
    font-size: 15px;
    font-family: opensans;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;

}